NEXT_PUBLIC_SUPABASE_URL=https://zdloschtczkghudnphff.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpkbG9zY2h0Y3prZ2h1ZG5waGZmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ2MzE2NjMsImV4cCI6MjEwMDIwNzY2M30.AOtyTt28V0zgqoCGOVcSlO-h1Xk_7BPQqHqTS7yqlBA
